<mat-sidenav-container class="container" fullscreen  >
    <mat-sidenav   [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4">

        </mat-toolbar>
        <cdk-sidemenu></cdk-sidemenu>
    </mat-sidenav>
    <mat-sidenav-content  style="z-index: unset;overflow: hidden;">
        <mat-drawer-container fullscreen >
            <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
                <mat-toolbar  color="primary" class="mat-elevation-z4">

                </mat-toolbar>
                <cdk-sidemenu [iconOnly]="true"></cdk-sidemenu>
            </mat-drawer>
            <mat-drawer-content style="overflow: hidden;">

                <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar>


                <perfect-scrollbar  style="height: calc(100% - 33px);">
                    <div  style="height: 100%;">
                      <router-outlet #route="outlet"></router-outlet>
                    </div>
                    
                </perfect-scrollbar>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-sidenav-content>

    <mat-sidenav #sidenav2 position="end" mode="over">
        <!-- <mat-tab-group>
            <mat-tab label="Overview">
            </mat-tab>
            <mat-tab label="Notifications">
            </mat-tab>
        </mat-tab-group> -->
    <cdk-sidebar></cdk-sidebar>
    </mat-sidenav>
    
</mat-sidenav-container>
        
            
        
        

