
<perfect-scrollbar style="height: calc(100% - 33px); width: 200px;">
    <div fxLayout="column" >
        <cdk-sidemenu-item *ngFor="let menu of menus" [menu]="menu" [iconOnly]="iconOnly"> </cdk-sidemenu-item>
    </div>
    
</perfect-scrollbar>
