<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar  class="mat-elevation-z4">
	<button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button> 
    <button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button>

    <span class="spacer"></span>


    <cdk-fullscreen></cdk-fullscreen>


    
</mat-toolbar>